<div class="" style="position: absolute; top: 10vw; left: 5vw;">
  <form #form="ngForm" (ngSubmit)="saveRendezvous(form)">

    <div style="display: flex;">
      <div>
        <label for="natureOfTheAppointment">Nature Of The Appointment</label>
        <div>
          <select class="input-nature" [(ngModel)]="rendezvous.natureOfTheAppointment" name="natureOfTheAppointment" required>
            <option selected value="">Choose...</option>
            <option value="doctor consultation">doctor consultation</option>
          </select>
        </div>
      </div>

      <div style="margin-left: 1vw;">
        <label for="reason">Reason</label>
        <div>
          <select class="input-reason" [(ngModel)]="rendezvous.reason" name="reason" (change)="onReasonSelected()" required>
            <option selected disabled value="">Choose...</option>
            <option *ngFor="let specialite of specialites" [value]="specialite">{{specialite}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="" style="margin-top: 1vw;">
      <label>Medecin</label>
      <div>
        <select class="input-m" [(ngModel)]="rendezvous.medecinId" name="medecinId">
          <option selected disabled value="">Choose...</option>
          <option *ngFor="let medecin of medecinList" [value]="medecin.id" >{{medecin.nom}} {{medecin.prenom}}</option>
        </select>
      </div>
      <div>
        <input type="hidden" [(ngModel)]="rendezvous.patientId" name="patientId" />
      </div>
    </div>

    <div style="display: flex; margin-top: 1vw;">
      <div class="">
        <label>date de rdv</label>
        <div>
          <input type="date" class="input-date" [(ngModel)]="rendezvous.dateRDV" name="dateRDV" (change)="getFreeTime()"/>
        </div>
      </div>
      <div style="margin-left: 1vw;">
        <label>Houre de rdv</label>
        <div style="width: 20vw;" *ngIf="time">
          <button *ngFor="let time of timeSlot" type="button"  (click)="Addcity(time.key)"  [(ngModel)]="rendezvous.slot" ngDefaultControl name="slot" [ngClass]="{'red-color':freeheure.includes(time.key),'green-color': !freeheure.includes(time.key)}" [disabled]="freeheure.includes(time.key)?true:false" >{{time.value}}</button>
        </div>
      </div>
    </div>
    <div class="" style="margin-top: 2vw;">
      <button type="submit">Save</button>
    </div>
  </form>
</div>