
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
    border:1px solid red;
}

input{
    border: none;
    border: 1px solid cadetblue;
}

select{
    border: none;
    border: 1px solid cadetblue; 
}

select:focus{
    outline: none;
}

input:focus{
    outline: none;
}

.input-nom{
    width: 16vw;
    height: 2.5vw;
}