<div class="container">
  <h3>ajouter nouveau patient</h3>
  <div class="row">
    <form class="row g-3" #f="ngForm" (ngSubmit)="onSubmite()" >
      <div class="col-md-4">
        <label class="form-label">Nom*</label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="patient.nom" name="nom" #nom="ngModel" required>
        <span *ngIf="nom.touched && nom.invalid  ">veuillez insérer une nom</span>
      </div>
      <div class="col-md-4">
        <label class="form-label">Prenom*</label>
        <input type="text" class="form-control" id="prenom" [(ngModel)]="patient.prenom" name="prenom" #prenom="ngModel" required>
        <span *ngIf="prenom.touched && prenom.invalid  ">veuillez insérer une nom</span>
      </div>
      <div class="col-md-4">
        
          <label class="form-label">Email*</label>
          <input type="text" class="form-control" id="email" [(ngModel)]="patient.email" name="email" #email="ngModel" required email>
          <ng-container class="block" *ngIf="email.touched">
             <span *ngIf="email.errors?.['required']">veuillez insérer une adresse email </span>
             <span *ngIf="email.errors?.['email']">veuillez insérer une adresse email valide</span>
          </ng-container>
    
      </div>
      <div class="col-md-6">
          <label class="form-label">Telephone*</label>
          <input type="text" class="form-control" id="telephone" [(ngModel)]="patient.contact" name="contact" #telephone="ngModel" required>
          <span *ngIf="telephone.touched && telephone.invalid">veuillez insérer un numéro de téléphone</span>
        </div>
        <div class="col-md-6">
          <label class="form-label">Contact en cas d'urgence</label>
          <input type="text" class="form-control" id="contactencasdurgence" [(ngModel)]="patient.contactencasdurgence" name="contactencasdurgence">
      </div>
  
      <div class="col-md-4">
        <label class="form-label">Rue</label>
        <input type="text" class="form-control" id="rue" [(ngModel)]="patient.address.rue" name="rue">
      </div>
      <div class="col-md-4">
        <label class="form-label">ville</label>
        <input type="text" class="form-control" id="ville" [(ngModel)]="patient.address.ville" name="ville">
      </div>
      <div class="col-md-4">
        <label class="form-label">Zip</label>
        <input type="text" class="form-control" id="zip" [(ngModel)]="patient.address.zip" name="zip">
      </div>
      <div class="col-md-3">
          <label class="form-label">Age</label>
          <input type="text" class="form-control" id="age" [(ngModel)]="patient.age" name="age">
      </div>
      <div class="col-md-3">
          <label class="form-label">Genre*</label>
          <select class="form-select" id="genre" [(ngModel)]="patient.genre" name="genre"  #genre="ngModel" required>
            <option selected disabled value="">Choose...</option>
            <option value="MÂLE">Male</option>
            <option value="FEMELLE">Femalle</option>
            <option value="AUTRE">AUTRE</option>
            <option value="JE_PRÉFÈRE_NEPAS_LE_DIRE">JE PRÉFÈRE NEPAS LE DIRE</option>
          </select>
          <span *ngIf="genre.touched">Veuillez sélectionner un genre</span>
        </div>
     
      <div class="col-12">
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">save & get appointment</button>
      </div>
    </form>
  </div>
</div>