<div class="tittle" style="text-align: center; margin-top: 3vw" >
  <h3>ajouter nouveau patient</h3>
</div>
<div style="position: absolute; top: 10vw; left: 5vw;">
  <div>
    <form #f="ngForm" (ngSubmit)="onSubmite()" >
      <div style="display: flex; margin-top: 1vw;">
      <div class=" ">
        <label class="form-label">Nom*</label>
        <div class="">
          <input type="text" id="nom" class="input-nom"  [(ngModel)]="patient.nom" name="nom" #nom="ngModel" required>
        </div>
        <!-- <span *ngIf="nom.touched && nom.invalid  ">veuillez insérer une nom</span> -->
      </div>

      <div class="">
        <label class="form-label">Prenom*</label>
        <div>
          <input type="text" id="prenom" class="input-prenom" [(ngModel)]="patient.prenom" name="prenom" #prenom="ngModel" required>
        </div>
        <!-- <span *ngIf="prenom.touched && prenom.invalid  ">veuillez insérer une nom</span> -->
      </div>

      <div class="">
          <label class="form-label">Email*</label>
          <div>
            <input type="text" id="email" class="input-email" [(ngModel)]="patient.email" name="email" #email="ngModel" required email>
          </div>

          <!-- <ng-container class="block" *ngIf="email.touched">
             <span *ngIf="email.errors?.['required']">veuillez insérer une adresse email </span>
             <span *ngIf="email.errors?.['email']">veuillez insérer une adresse email valide</span>
          </ng-container> -->
      </div>
    </div>
    <div style="display: flex; margin-top: 1vw;">
      <div class="">
          <label class="form-label">Telephone*</label>
          <div>
            <input type="text"  id="telephone" class="input-telephone" [(ngModel)]="patient.contact" name="contact" #telephone="ngModel" required>
          </div>
          <!-- <span *ngIf="telephone.touched && telephone.invalid">veuillez insérer un numéro de téléphone</span> -->
        </div>

        <div class="">
          <label class="form-label">Contact en cas d'urgence</label>
          <div>
            <input type="text"  id="contactencasdurgence" class="input-contactencasdurgence" [(ngModel)]="patient.contactencasdurgence" name="contactencasdurgence">
          </div>
        </div>
      </div>

      <div style="display: flex; margin-top: 1vw;">
      <div class="">
        <label class="form-label">Rue</label>
        <div>
          <input type="text" id="rue" class="input-rue" [(ngModel)]="patient.address.rue" name="rue">
        </div>
      </div>
      <div class="">
        <label class="form-label">ville</label>
        <div>
          <input type="text" id="ville" class="input-ville" [(ngModel)]="patient.address.ville" name="ville">
        </div>
      </div>
      <div class="">
        <label class="form-label">Zip</label>
        <div>
          <input type="text" id="zip" class="input-zip" [(ngModel)]="patient.address.zip" name="zip">
        </div>
      </div>

    </div>

    <div style="display: flex; margin-top: 1vw;">
      <div class="">
          <label class="form-label">Age</label>
          <div>
            <input type="text" id="age" class="input-age" [(ngModel)]="patient.age" name="age">
          </div>
      </div>
      <div class="">
          <label class="form-label">Genre*</label>
          <div>
            <select  id="genre" class="select-genre" [(ngModel)]="patient.genre" name="genre"  #genre="ngModel" required>
              <option selected disabled value="">Choose...</option>
              <option value="MÂLE">Male</option>
              <option value="FEMELLE">Femalle</option>
              <option value="AUTRE">AUTRE</option>
              <option value="JE_PRÉFÈRE_NEPAS_LE_DIRE">JE PRÉFÈRE NEPAS LE DIRE</option>
            </select>
          </div>
          <!-- <span *ngIf="genre.touched">Veuillez sélectionner un genre</span> -->
        </div>
      </div>
      <div class="" style="margin-top: 2vw;">
        <button type="submit" [disabled]="f.invalid">save & get appointment</button>
      </div>
    </form>
  </div>
</div>
